<div class="form">
    <form
        method="POST"
        [formGroup]="appointmentForm" 
        (ngSubmit)="submitForm()">
            <div>

                    <div class="margins">
                        <label for="date">Choose date:</label><br/>
                        <input #date class="input" type="date" id="date" name="date" formControlName="date"/>
                        
                        <br/><br/>
                        
                        <label class="label">Choose duration [min]:</label> <br/>
                        <label>
                            <input [checked]="true" name="duration" type="radio" formControlName="duration" value="30"> 30
                        </label>
                        
                        <label>
                            <input name="duration" type="radio" formControlName="duration" value="60"> 60
                        </label>

                        <br/><br/>

                        <label for="time">Choose time: </label>
                        <select #time class="inputSelect" name="time" formControlName="time">
                            <option *ngFor="let option of times;let i = 'index';" [value]="option">{{option}}</option>
                        </select>
                    </div>

                    <button type="submit" id="submitButton" (keydown.enter)="submitForm()" [disabled]="!appointmentForm.valid">Create appointment</button>
                


                </div>
    </form>
</div>
